.carrossel__titulo {
    background-color: var(--cor-branca);
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0 .5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5rem 0;
}