.cabecalho__menu-hamburguer {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.container1 .container__imagem {
    padding: 1rem;
}

.container2 .container__imagem {
    padding: .25rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    background-color: var(--cor-branca);
    z-index: 2;
}

#menu:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background-color: var(--cor-branca);
}

.lista-menu__titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao,
.container__titulo,
.opcoes {
    display: none;
}

.container__titulo,
.container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 1.875rem;
    color: var(--cor-preto);
}

.container__titulo {
    font-weight: 400;
}

.container__titulo--negrito {
    font-weight: 700;
}

.container__texto {
    display: none;
}

@media screen and (min-width:1024px) {
    .cabecalho__menu-hamburguer{
        display: none;
    }

    .sm {
        display: none;
    }

    .container__titulo {
        display: block;
        margin-right: 1.75rem;
    }

    .opcoes {
        position: relative;
        display: flex;
        gap: 1rem;
    }

    .opcoes__item {
        color: var(--cor-preto);
        padding: 1rem .75rem;
        transition: color .2s;
        white-space: nowrap;
        cursor: pointer;
    }

    .opcoes__item,
    .opcoes__link {
        transition: .2s;
    }

    .opcoes__item:hover {
        background: var(--cor-gradiente);
    }

    .opcoes__link {
        color: var(--cor-preto);
        display: block;
        text-decoration: none;
    }

    .cabecalho {
        padding: 0rem 1.5rem;
    }

    #opcoes__botao {
        display: none;
    }

    #opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    /* #opcoes__botao~.opcoes__label>.opcoes__item {
        color: inherit;
    } */

    #opcoes__botao:checked~.opcoes__label>.opcoes__item,
    .opcoes__label:hover>.opcoes__item,
    .opcoes__item:hover>.opcoes__link,
    .lista-menu__item:hover {
        background: var(--cor-gradiente);
        color: var(--cor-branca);
    }

    .lista-menu__item:hover>.lista-menu__link {
        color: var(--cor-branca);
        background-clip: none;
        -webkit-background-clip: none;
        -webkit-text-fill-color: var(--cor-branca);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px) {
    .cabecalho {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 4fr;
    }

    .container2 {
        justify-self: end;
    }

    .container__link {
        display: flex;
        align-items: center;
        margin: 0 .5rem;
        text-decoration: none;
    }

    .container__texto {
        display: block;
        font-size: 1.25rem;
        color: var(--cor-preto);
    }
}